* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: #;
    --black: #3C3C3C;
    --white: #FFFFFF;
    --green: #5CC16C;
    --transparentGray: #d1d1d13d;
}



/* ---- dark and light mode */
.light-mode {
    color: var(--black);
}
body.light-mode {
    background-color: var(--white);
}

.dark-mode {
    color: var(--white);
}
body.dark-mode {
    background-color: var(--black);
}




/* ---- Header ---- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1444px;
    min-height: 80px;
    padding: 0 1rem;
    margin: 0 auto;
}
header .logo {
    display: flex;
    align-items: center;

    text-decoration: none;
}
header .logo h1 {
    font-size: 2rem;
    color: var(--green);

    margin-left: 0.5rem;
}


header .dark-mode-button {
    display: flex;
    align-items: center;

    border: 0;
    outline: 0;
    background-color: transparent;

    cursor: pointer;
}
header .dark-mode-button .dark-mode-indicator {
    height: 25px;
    width: 25px;
    border-radius: 50%;

    margin-left: 0.5rem;

    background-color: var(--transparentGray);
}
.dark-mode-indicator.active {
    background-color: var(--green) !important;
}



/* ---- Main ---- */
main {
    position: relative;
    padding: 4rem 0;
}



/* ---- Table ---- */
.table {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;

    height: 450px;
    width: 450px;

    transition: height 1s, width 1s;
}
.table .option {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;

    height: 150px;
    width: 150px;

    transition: height 1s, width 1s;
}

/* ---- Table Options ---- */
.option.border-right {
    border-right: 2px solid;
}
.option.border-bottom {
    border-bottom: 2px solid;
}

.option.light-mode {
    border-color: var(--black) !important;
}
.option.dark-mode {
    border-color: var(--white) !important;
}

.option.overOption {
    background-color: var(--transparentGray);
}



/* ---- Info ---- */
.info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 1444px;
    margin: 0 auto;
}



/* ---- Score ---- */
.info .score h3 {
    margin: 0.75rem;
}
.info .score .score-x {
    display: flex;
    justify-content: space-around;

    margin: 0.5rem 0;
}
.info .score .score-o {
    display: flex;
    justify-content: space-around;
}



/* ---- Player ---- */
.info .player-area h2 {
    font-size: 2rem;
}
.info .player-area .player {
    font-size: 5rem;
    text-align: center;
}
.player.dragging {
    opacity: 0.5;
}
.info .player-area small {
    display: inline-block;
    max-width: 200px;

    text-indent: 1rem;
    text-align: justify;
}


/* ---- Modal ---- */
.modal {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #161616e3;

    opacity: 0;  
    transition: opacity 0.5s;
}
.modal .result {
    display: flex;
    flex-direction: column;

    color: var(--white);  
}
.modal .result h1 {
    font-size: 6rem;
    text-align: center;

    margin-bottom: 10rem;
}
.modal .result button {
    padding: 5px 10px;

    min-width: 200px;
    max-width: 200px;
    height: 40px;

    margin: 1rem auto;
    cursor: pointer;
}



/* ---- Footer ----  */
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 80px;
    margin-top: 2rem;

    text-align: center;
}


@media screen and (max-width: 480px) {
    /* ---- Header ---- */
    header {
        flex-direction: column;

        padding: 1rem;
    }
    header .logo {
        margin: 1rem 0;
    }

    /* ---- Table ---- */
    .table {
        height: 240px;
        width: 240px;
    }
    .table .option {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 14px;
    }

    main {
        padding: 2rem 0;
    }

    /* ---- Table ---- */
    .table {
        margin: 1rem auto;
    }


    /* ---- Info ---- */
    .info {
        flex-direction: column-reverse;
    }
    .info .score {
        margin: 2rem 0;
    }

    /* ---- Modal ---- */
    .modal .result {
        max-width: 100%;
    }
    .modal .result h1 {
        font-size: 2rem;
    }

    /* ---- Footer ---- */
    footer {
        margin-top: 1rem;
    }
}